<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>YO! Have a safe trip bro!</string>
	<string>YO?</string>
	<string>YO!</string>
	<string>YO Asshole!</string>
	<string>YO Baby!</string>
	<string>YO Playa!</string>
	<string>YO Dude!</string>
	<string>YO did you get my YO, bro?</string>
	<string>YO me back bro!</string>
	<string>YO what the F@ck bro!</string>
	<string>YO bro!</string>
	<string>YO where the bitches at bro?!</string>
</array>
</plist>
